* {
    all: unset;
}

window {
    background-color: transparent;
}

.calendar {
    background-color: rgba(24, 25, 38, 0.75); 
    border-radius: 12px;                      
    padding: 24px;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;                          
}

.header {
    font-size: 19px; 
    font-weight: 600;                         
    color: #ffffff;                           
    padding-bottom: 12px;
    margin-bottom: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.event-item {
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 12px;
    padding: 10px 12px;
    margin-bottom: 4px;
}

.event-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.event-time {
    color: #9afcb4;                           
    font-weight: 600;
    font-size: 16px; 
    min-width: 60px;
}

.event-name {
    color: #ffffff;
    font-size: 15px; 
}

.closer-canvas {
  background-color: rgb(0, 0, 0, 0); 
}