* {
  margin: 0;
  padding-top: 4px;
  padding: 0;
  border: none;
  min-height: 0;
  box-shadow: none;
  text-shadow: none;
  transition: none;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

window#waybar {
  background: transparent
}

.modules-right,
.modules-left,
.modules-center{
  background: transparent
}

#window {
  color: #ffdbf1;
  font-weight: 600;
}

#clock,
#pulseaudio,
#battery,
#cpu,
#memory,
#network,
#temperature {
  padding: 0 8px;
}

#cpu,
#memory,
#temperature,
#battery {
  color: #9afcb4;
}

#battery.warning,
#cpu.warning,
#memory.warning,
#temperature.warning {
  color: #ffe49c;
}

#battery.critical,
#cpu.critical,
#memory.critical,
#temperature.critical {
  color: #ff9b94;
}

#battery.charging {
  color: #63dbb1;
}

#pulseaudio,
#cpu {
  background-color: rgba(24, 25, 38, 0.75);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2px 6px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#battery,
#memory {
  background-color: rgba(24, 25, 38, 0.75);
  border-radius: 0;
  padding: 2px 6px;
  margin: 4px 0px;
}

#clock,
#temperature {
  background-color: rgba(24, 25, 38, 0.75);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 2px 6px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;

}

#tray {
  padding: 2px 6px;
  margin: 4px 0px;
}

#network {
  background-color: rgba(24, 25, 38, 0.75);
  border-radius: 24px;
  padding: 4px 12px;
  margin: 4px 4px;
}

#pulseaudio,
#clock,
#cpu,
#temperature {
  padding: 4px 12px;
}

#workspaces {
  background-color: rgba(24, 25, 38, 0.75);
  border-radius: 24px;
  padding: 2px 4px;
  margin: 4px 4px;
}

#workspaces button {
  background: transparent;
  padding: 0 6px;
  margin: 2px 0;
  border-radius: 24px;
  color: #ffffff;
  font-size: 8px;
}

#workspaces button:hover {
  background: rgba(255,255,255,0.15);
}

#workspaces button.active {
  background: #ffffff;
  color: #000000;
}

#workspaces button.active:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.30);
  outline: #ffffff;
}